
footer{
    background-color: $darkblue;
    color:$lightblue;
    padding: 15px 5px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    text-align: center;
    border-top: 2px solid $lightblue;

}
#logoFooter{
    width: 8vh;
    height: 8vh;
}
.footerCopyRight{
    grid-column-start: 1;
    grid-column-end: 2;
}
.footerRights{
    grid-column-start: 1;
    grid-column-end: 2;
}
.footerTitle{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    align-items: center;

    img{
        margin-right: 15px;
        float: left;
    }
}
.footerSocial{
    grid-column-start: 3;
    grid-column-end: 4;
    a{
        color: $lightblue;
            &:hover{
                color:$red;
        }
    }
    i{
    margin-right: 10px;
    }
}



@media screen and (max-width: 770px) {
    .bottomSection{
        grid-template-columns: 1fr ;
      
    }

    footer{
        grid-template-columns: auto;
        text-align: center;
        

    }

    .footerCopyRight{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        align-items: flex-end;
    }
    .footerRights{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
        align-items: flex-end;


    }
    .footerTitle{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        img{
            float: none;
        }
       
    }
    .footerSocial{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

}