.navbar{
    background-color: $darkblue;
    padding: 2vh;
    color:$lightblue;
    border-bottom: 2px solid $lightblue;
    position: fixed;
    width: 100%;
    z-index: 5;
    ul {
        display: grid;
        grid-template-columns: auto auto auto;
        list-style-type: none;
        align-items: center;
        li{
            text-align: center;
        }
    }
}

#logo{
    width: 12vh;
    height: 12vh;
}

#dropDownList{
font-size: 3vh;
    select{
    font-size: 3vh;
   }
}

@media screen and (max-width: 769px) {
    #logo{
        width: 10vh;
        height: 10vh;
    }
    #dropDownList{
        select{
            font-size: 2vh;
        }
        label h4{
            float: left;
            margin-left: 15%;
        }
    }
    .navbar{
        ul {
            display: grid;
            grid-template-columns: auto;
            text-align: center;
        }
    }
}

@media screen and (max-width: 375px) {
    #dropDownList label h4{
            float:none;
            margin-left: 0px;
        
    }
}