$darkblue: #083C5A;
$lightgreen: #4CB648;
$green: rgb(16, 87, 16);
$lightblue: #E4F4FD;
$lightblue2: #e4f4fdab;
$lightblue3: #a3d0ebab;
$yellow: #FCC72C;
$black:black;   
$red: red;
$darkgreen:#fcc82cc5;
$white:white;  

@font-face {
    font-family: 'didact_gothicregular';
    src: url(../fonts/didactgothic-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;

}