$darkblue: #083C5A;
$lightgreen: #4CB648;
$lightblue: #E4F4FD;
$yellow: #FCC72C;


@font-face {
    font-family: 'didact_gothicregular';
    src: url(../fonts/didactgothic-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;

}