@font-face {
  font-family: 'didact_gothicregular';
  src: url(../fonts/didactgothic-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: #083C5A;
  padding: 2vh;
  color: #E4F4FD;
  border-bottom: 2px solid #E4F4FD;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul li {
  text-align: center;
}

#logo {
  width: 12vh;
  height: 12vh;
}

#dropDownList {
  font-size: 3vh;
}

#dropDownList select {
  font-size: 3vh;
}

@media screen and (max-width: 769px) {
  #logo {
    width: 10vh;
    height: 10vh;
  }
  #dropDownList select {
    font-size: 2vh;
  }
  #dropDownList label h4 {
    float: left;
    margin-left: 15%;
  }
  .navbar ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  #dropDownList label h4 {
    float: none;
    margin-left: 0px;
  }
}

footer {
  background-color: #083C5A;
  color: #E4F4FD;
  padding: 15px 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-top: 2px solid #E4F4FD;
}

#logoFooter {
  width: 8vh;
  height: 8vh;
}

.footerCopyRight {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.footerRights {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.footerRights a {
  color: #E4F4FD;
  text-decoration: none;
}

.footerRights a:hover {
  color: red;
}

.footerTitle {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerTitle img {
  margin-right: 15px;
  float: left;
}

.footerSocial {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.footerSocial a {
  color: #E4F4FD;
}

.footerSocial a:hover {
  color: red;
}

.footerSocial i {
  margin-right: 10px;
}

@media screen and (max-width: 770px) {
  .bottomSection {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    text-align: center;
  }
  .footSection {
    margin: 5px 0px;
  }
  .footerCopyRight {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footerRights {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footerTitle {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  .footerTitle img {
    display: none;
  }
  .footerSocial {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'didact_gothicregular', Arial, sans-serif;
  background-color: white;
}

#hero {
  height: 80vh;
  background-image: url("../img/back3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 2px solid #E4F4FD;
}

.weatherCard {
  max-width: 70%;
  background-color: #FCC72C;
  color: black;
  position: absolute;
  top: 30%;
  left: 30%;
  padding: 10px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2.5em;
  border-radius: 40px 0 0 0;
  -webkit-box-shadow: 5px 5px 5px #083C5A;
          box-shadow: 5px 5px 5px #083C5A;
}

.symbolCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.weatherSec {
  margin-right: 20px;
}

#nameState {
  font-size: 2em;
  line-height: 2em;
}

.symbols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#nameBig {
  font-size: 2em;
  color: #105710;
}

#bottomSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 45px;
  padding: 30px 20px;
  margin-top: 20px;
}

#activity {
  text-align: center;
  padding-bottom: 15px;
}

#activites {
  list-style-type: none;
}

.cardTop {
  padding: 5px;
}

.name.cardTop {
  text-align: center;
}

.card {
  border: 2px solid #105710;
  background-color: #e4f4fdab;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px #083C5A;
          box-shadow: 5px 5px 5px #083C5A;
}

.card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#linkPage a {
  text-decoration: none;
  color: black;
}

#linkPage a:hover {
  color: red;
}

#selectLabel {
  margin: 10px 0px;
}

@media screen and (max-width: 1280px) {
  #bottomSection {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #hero {
    min-height: 90vh;
  }
}

@media screen and (max-width: 768px) {
  #bottomSection {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #hero {
    min-height: 100vh;
  }
  #nameBig {
    font-size: 1.5em;
  }
  .weatherCard {
    top: 35%;
    left: 15%;
    width: 95%;
    font-size: 0.9em;
  }
  .weatherSec {
    margin-right: 20px;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 414px) {
  #nameBig {
    font-size: 1em;
  }
  #nameState {
    font-size: 1.3em;
  }
  .weatherCard {
    top: 28%;
    left: 5%;
    min-width: 250px;
  }
  .symbols {
    display: block;
  }
  .weatherSec {
    margin: 0px 20px;
  }
}
/*# sourceMappingURL=style.css.map */