@import "_variable";
@import "_header";
@import "_footer";
*{
    margin :0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'didact_gothicregular', Arial, sans-serif;;
    background-image: linear-gradient(to bottom, #083c5a, #375b76, #5d7c93, #849fb2, #acc3d1, #aacfdf, #a6dbeb, #a2e8f4, #6bdfdd);
}

#topSection{
    min-height: 100vh;
    background-image: url("../img/california.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}
