@import "_variable";
@import "_header";
@import "_footer";

*{
    margin :0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'didact_gothicregular', Arial, sans-serif;
    background-color: $white;
}

#hero{
    height: 80vh;
    background-image: url("../img/back3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom:2px solid $lightblue ;
}
.weatherCard{
    min-width: 40vh;
    min-height: 40vh;
    background-color:$yellow ;
    color: $black;
    position: absolute;
    top: 30%;
    left: 15%;
    padding: 10px;
    text-align: center;
    align-items: center;
    line-height: 2.5em;
    border-radius: 40px 0 0 0;
    box-shadow:5px 5px 5px $darkblue;
}
#nameState{
    font-size: 2em;
    line-height: 2em;
}
.symbols{
    display: flex;
    justify-content: space-around;
}
#nameBig{
    font-size: 2em;
    color: $green;
}
#bottomSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 45px;
    padding: 30px 20px;
    margin-top: 20px;
}
#activity{
    text-align: center;
    padding-bottom: 15px;
}
#activites{
    list-style-type: none;

}
.cardTop{
    padding: 5px;
}
.name.cardTop{
    text-align: center;
}
.card{
    border: 2px solid $green;
    background-color: $lightblue2;
    border-radius: 5px;
    box-shadow:5px 5px 5px $darkblue;
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}
#linkPage{
    a{
    text-decoration: none;
    color:$black;
    &:hover{
        color:$red;
    }
  }
}

@media screen and (max-width: 1280px) {
    #bottomSection{
        grid-template-columns: 1fr 1fr;
     }
    #hero{
        min-height: 90vh;
    }
  
}
@media screen and (max-width: 768px) {
    #bottomSection{
        grid-template-columns: 1fr;
    }
    #hero{
        min-height: 100vh;
    }
    #nameBig{
        font-size: 1.5em;
    }
    .weatherCard{
        top:35%;
        left: 20%;
    }
}
@media screen and (max-width: 414px) {
     #nameBig{
        font-size: 1em;
    }
    .weatherCard{
        top:33%;
        left: 5%;
        width: 90%;
    }
    .symbols{
        display: block;
    }
}